:host{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0.5em;
}

p{
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 1em;
}

p:after {
    content: '\200b';
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
