<div class="container">
    <div>
        <h1>Home</h1>
        <p>Home works!</p>
        <h2>Exercicio 01</h2>
    </div>

    <div>
        <h2>Exercicio 02</h2>
        <input type="text" name="" id="" [(ngModel)]="texto">
        <p>{{texto}}</p>
    </div>

    <div>
        <h2>Exercicio 03</h2>
        <div class="calculator-container">
            <input type="number" class="calculator-input" [(ngModel)]="numero01">
            <input type="number" class="calculator-input" [(ngModel)]="numero02">
            <div class="calculator-buttons">
                <button (click)="somar()">+</button>
                <button (click)="subtrair()">-</button>
                <button (click)="multiplicar()">*</button>
                <button (click)="dividir()">/</button>
            </div>
        </div>
        <p><span>Resultado: {{resultado}}</span></p>
        <button (click)="limpar()">Limpar</button>
    </div>

    <div class="divEx04">
        <h2>Exercicio 04</h2>
        <p>Form</p>
        <form [formGroup]="formFilme" (ngSubmit)="onSubmit()">
            <div>
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" formControlName="nome">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" formControlName="email">
            </div>
            <div>
                <label for="nomeFilme">Filme</label>
                <input name="nomeFilme" id="nomeFilme" formControlName="nomeFilme">
            </div>
            <div>
                <label for="nota">Nota ({{ nota.value }})</label>
                <input type="range" #nota (input)="nota.value" id="nota" min="0" max="10" value="0"
                    formControlName="nota">
            </div>
            <div>
                <button type="submit" class="submit-button">Enviar</button>
            </div>
        </form>
    </div>

    <div class="divEx05">
        <h2>Exercicio 05</h2>
        <p>Mock Api 01</p>
        <button (click)="getAlunos()">Fetch</button>
    </div>

    <div class="divEx06">
        <h2 class="pisca">Exercicio 06 que virou o 7 com observable e que carrega o 9 E O 10</h2>
        <p>Service</p>
        <button (click)="getFilmes()">Fetch</button>
        <!-- <button>Fetch</button> -->
    </div>

    <div class="divEx08">
        <h2>Exercicio 08</h2>
        <p>Loading</p>
        <button (click)="getCursos()">Load</button>

        <div class="modal" tabindex="1" [ngClass]="{ 'd-block': loading }" *ngIf="showModal">
            <div class="modal-content">
                <div class="spinner"></div>
            </div>
        </div>

    </div>

    <div class="divEx09">
        <h2>Exercicio 09</h2>
        <p>Melhor Filme</p>
        <!-- <div class="modal" tabindex="1" [(ngModel)]="{ 'd-block': loading }" *ngIf="showModal"> -->
            <div class="showFilme" *ngIf="showMovie">
                <h4>"nomeFilme": {{melhorFilme.nomeFilme}}</h4>
                <h4>"anoLancamento": {{melhorFilme.anoLancamento}}</h4>
                <h4>"genero": {{melhorFilme.genero}}</h4>
                <h4>"diretor": {{melhorFilme.diretor}}</h4>
                <h4>"duracaoMinutos": {{melhorFilme.duracaoMinutos}}</h4>
                <h4>"notaIMDb": {{melhorFilme.notaIMDb}}</h4>
            </div>
        <!-- </div> -->
    </div>

    <div class="divEx10">
        <h2>Exercicio 10</h2>
        <p>3 melhores</p>
            <div class="showFilme" *ngIf="showMovie">
                <h3>{{ind+1}}º Lugar</h3>
                <h4>"nomeFilme": {{melhoresTresFilmes[ind].nomeFilme}}</h4>
                <h4>"anoLancamento": {{melhoresTresFilmes[ind].anoLancamento}}</h4>
                <h4>"genero": {{melhoresTresFilmes[ind].genero}}</h4>
                <h4>"diretor": {{melhoresTresFilmes[ind].diretor}}</h4>
                <h4>"duracaoMinutos": {{melhoresTresFilmes[ind].duracaoMinutos}}</h4>
                <h4>"notaIMDb": {{melhoresTresFilmes[ind].notaIMDb}}</h4>
                <button [disabled]="ind <= 0">Anterior</button>
                <button [disabled]="ind >= 2">Proximo</button>
            </div>
    </div>

</div>