:host{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

h1{
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0.5em;
}

h2{
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 0.5em;
}

p{
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 1em;
}

p:after {
    content: '\200b';
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.calculator-container{
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.calculator-buttons > button{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0.1em 0;
}

.calculator-input{
    all:unset;
    width: 30%;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    font-size: 1em;
    text-align: right;
    padding-right: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: .2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.divEx04{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.divEx04 > form > div{
    height: auto;
    margin: 0;
}