.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
        background-color: #f2f2f2; /* Define a cor de fundo para o header */
}

.list {
    flex: 1; /* Faz a lista ocupar todo o espaço disponível restante */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

.footer {
    background-color: #f2f2f2; /* Define a cor de fundo para o footer */
}